body {
    font-family: Consolas,monaco,monospace;
    font-size: 16pt;
    display: flex;
    flex-direction :row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.tokenizer-parser-container {
  /* margin: 0 0 0 300px; */
}

.flex-container {
  /* margin: 0 300px 0 0; */
}

.tree-ui-container {

}

.tree-title-container {
}

.ui-div {
}

.tree-container {
    text-align: center;
}
.button-container {
    text-align: center;
    margin-top: 50px;
}

.tree-div {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.text-div {
    clear: left;
    border-top: 2px solid black;
    padding-top: 5px;
}

.type-span {
    background-color: #BEE0EE;
}

.summary {
    text-align: center;
    font-size: 12pt;
    margin-top: 60px;
}

.css-title {
  font-size: 16pt;
}

.summary-title {
    font-size: 16pt;
}

.expression-builder{
    font-size: 12pt;
}
