body {
    font-family: Consolas,monaco,monospace;
    font-size: 16pt;
}

.tree-container {
    text-align: center;
}
.button-container {
    text-align: center;
    margin-top: 50px;
}

.tree-div {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.text-div {
    clear: left;
    border-top: 2px solid black;
    padding-top: 5px;
}

.type-checks {
    background-color: #BEE0EE;
}

.type-fails {
    background-color: #FF6754;
}

.type-partial {
    background-color: #FFE554;
}

.error-subterm {
    /* relative positioning is used here because an eror-details div needs to
    use absolute positioning based on this element */
    position: relative;
    background-color: #FF6754;
}

.error-subterm:hover .error-details {
    display: block;
}

.error-details {
    position: absolute;
    bottom: 50px; right: 200px;
    background-color: #FF6754;
    display: none;
}

.summary {
    text-align: center;
    font-size: 12pt;
    margin-top: 60px;
}

.css-title {
  font-size: 16pt;
}

.summary-title {
    font-size: 16pt;
}

.expression-builder{
    font-size: 12pt;
}
