html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Consolas,monaco,monospace;
    font-size: 16pt;
    color: #000F1C;
}

.flex-container {
    min-height: 100%;
}

.tree-container {
    position: absolute;
    bottom: 60%;
    width: 65%;
    text-align: center;
}

.ui-div {
    position: absolute;
    left: 65%;
    width: 30%;
    min-height: 100%;
    text-align: center;
    border-left:2px solid #000F1C;
}

.button-container {
    margin-top: 50px;
}

.tree-div {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.text-div {
    clear: left;
    border-top: 2px solid #000F1C;
    padding-top: 5px;
}

.type-span {
    background-color: #BEE0EE;
}

.summary {
    font-size: 12pt;
    margin-top: 60px;
}

.summary-title {
    font-size: 16pt;
}

.buttons {
    text-align: center;
    font-size: 12pt;
    margin-top: 60px;
.expression-builder{
    font-size: 12pt;
}